asgiref==3.8.1
beautifulsoup4==4.13.3
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2024.10
cssselect2==0.8.0
distlib==0.3.8
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==5.0.4
django-allauth==0.62.1
django-bootstrap5==24.3
django-cache-url==3.4.5
django-crispy-forms==2.3
django-environ==0.11.2
django-jalali-date==2.0.0
django-modeltranslation==0.19.12
django-rosetta==0.10.1
environs==11.0.0
filelock==3.16.1
fonttools==4.55.8
gunicorn==23.0.0
idna==3.10
jalali_core==1.0.0
jdatetime==5.2.0
marshmallow==3.21.2
mysqlclient==2.2.4
packaging==24.0
pillow==11.1.0
pipenv==2024.1.0
platformdirs==4.3.6
polib==1.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-dotenv==1.0.1
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.3.0
virtualenv==20.26.6
weasyprint==64.0
webencodings==0.5.1
zopfli==0.2.3.post1
whitenoise>=6.0

