{% extends "_base.html" %}
{% load static %}

{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_tags %}

{% load crispy_forms_tags %}
{% block extra_head %}

  <!-- <style>
    .site-main {
      margin-left: 250px;
    }
  </style> -->
  
{% endblock %}
{% block title %}{% trans 'blog detail' %}{% endblock title %}

{% block content %}
{% include 'header.html' %} 
<body>
  
      <div class="subpages"  dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}" 
      align="{% if LANGUAGE_CODE == 'fa' %}right{% else %}left{% endif %}">
          <a class="blog-back-button" href="{% url 'blog_list' %}"><i class="fa fa-angle-left"></i></a>

          <div class="blog-post-main-image">
            <img class="post-image img-responsive" src="{{ blog.image.url }}" alt="blog-post-1" />
          </div>

          <div class="blog-post-content">
            <h1>
            {% if LANGUAGE_CODE == "fa" %}
              {{ blog.technology_fa }}
            {% else %}
              {{ blog.technology_en }}
            {% endif %}
            </h1>
            <p class="lead">
              {% if LANGUAGE_CODE == "fa" %}
                  {{ blog.description_fa }}
              {% else %}
                  {{ blog.description_en }}
              {% endif %}
            </p>

            <p>
            {% if LANGUAGE_CODE == "fa" %}
              {{ blog.short_description_fa }}
            {% else %}
              {{ blog.short_description_en }}
            {% endif %}</p>

            <div class="post-info">
              <span class="autor"><i class="fa fa-fw fa-user"></i> {{ blog.author }}</span>
              <span class="divider">|</span>
              <span class="date"><i class="fa fa-fw fa-clock-o"></i>{{ blog.datetime_created|to_jalali:'%y/%m/%d _ %H:%M:%S'|translate_number }}</span>
              <!-- Share Buttons -->
              <div class="btn-group share-buttons pull-right hidden-xs">
                <a href="https://github.com/shadighanaat" target="_blank" class="btn"><i class="fa fa-github"></i> </a>
                <a class="tip social-button" href="https://www.linkedin.com/in/shadi-ghanaati-b2880229a/" title="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
              <!-- /Share Buttons -->
            </div>
           
            <div class="post-comments">
              <div class="block-title">
                <h3>{% trans 'Comments' %}</h3>
              </div>
              {% for comment in blog.comments.all|dictsortreversed:"datetime_created" %}
               {% if not comment.parent %}
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{ blog.image.url }}" alt="">
                </a>
                <div class="media-body">
                  <a href="#">{{ comment.name }}</a>
                  <span class="divider">|</span>
                  <span class="light-gray">
                    {{ comment.datetime_created|to_jalali:'%y/%m/%d _ %H:%M:%S' }}
                  </span>
                  <p>{{ comment.message }}</p>
            
                  <div class="media-footer">
                    <a href="#" onclick="toggleReplyForm(event, '{{ comment.id }}')">
                      <i class="fa fa-reply"></i> {% trans 'Reply' %}
                    </a>
                  </div>
            
                  {% for reply in comment.replies.all %}
                    <div class="media" style="margin-right: 20px;">
                      <strong>{{ reply.name }}</strong>: {{ reply.message }}
                    </div>
                  {% endfor %}
            
                  <div id="reply-form-{{ comment.id }}" style="display: none; margin-top: 10px;">
                    <form class="form-add-comment" action="{% url 'comment_create' blog.id %}" method="POST">
                      {% csrf_token %}
                      {{ comment_form|crispy }}
                      <input type="hidden" name="parent_id" value="{{ comment.id }}">
                      <button type="submit">{% trans 'Submit reply' %}</button>
                    </form>
                  </div>
            
                </div>
              </div>
              {% endif %}
            {% endfor %}
            
            <div class="post-comment-add">
              <div class="block-title">
                <h3>{% trans 'Leave a Comment' %}</h3>
              </div>
              <form class="form-add-comment" action="{% url 'comment_create' blog.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input type="hidden" name="parent_id" value="">
                <button type="submit">{% trans 'Submit comment' %}</button>
              </form>
            </div>
              </div>
            </div>
            </div>
           
          </div>

        </div>
    </div>
</div>
<script>
  function toggleReplyForm(event, commentId) {
    event.preventDefault(); 
    const form = document.getElementById(`reply-form-${commentId}`);
    if (form.style.display === "none" || form.style.display === "") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>

</body>
{% endblock %}