{% extends "_base.html" %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_head %}

  <!-- <style>
    .site-main {
      margin-left: 250px;
    }
  </style> -->
  
{% endblock %}
{% block title %}{% trans 'blog detail' %}{% endblock title %}

{% block content %}
{% include 'header.html' %} 
<body>
  
      <div class="subpages"  dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}" 
      align="{% if LANGUAGE_CODE == 'fa' %}right{% else %}left{% endif %}">
          <a class="blog-back-button" href="{% url 'blog_list' %}"><i class="fa fa-angle-left"></i></a>

          <div class="blog-post-main-image">
            <img class="post-image img-responsive" src="{{ blog.image.url }}" alt="blog-post-1" />
          </div>

          <div class="blog-post-content">
            <h1>{{ blog.technology}}</h1>
            <p class="lead">{{ blog.shortdescription}}</p>

            <p>{{ blog.description }}</p>

            <div class="post-info">
              <span class="autor"><i class="fa fa-fw fa-user"></i> {{ blog.author }}</span>
              <span class="divider">|</span>
              <span class="date"><i class="fa fa-fw fa-clock-o"></i>{{ blog.datetime_created }}</span>
              <!-- Share Buttons -->
              <div class="btn-group share-buttons pull-right hidden-xs">
                <a href="#" target="_blank" class="btn"><i class="fa fa-facebook"></i> </a>
                <a href="#" target="_blank" class="btn"><i class="fa fa-twitter"></i> </a>
                <a href="#" target="_blank" class="btn"><i class="fa fa-dribbble"></i> </a>
              </div>
              <!-- /Share Buttons -->
            </div>
           
            <div class="post-comments">
              <div class="block-title">
                <h3>{% trans 'Comments' %}</h3>
              </div>
              {% for comment in blog.comments.all %} 
              <div class="media">
                  <a class="pull-left" href="#">
                      <img class="media-object" src="{{ blog.image.url }}" alt="">
                  </a>
                  <div class="media-body">
                          <a href="#">{{ comment.author.username }}</a> <span class="divider">|</span> <span class="light-gray">{{ comment.datetime_created }}</span>
                      </div>
                      <p>{{ comment.message }}</p>
                      <div class="media-footer">
                          <a href="#"><i class="fa fa-reply"></i> Reply</a>
                          <span class="divider"></span>
                          <i class="fa fa-thumbs-up"></i>
                          <span>0</span>
                          <i class="fa fa-thumbs-down"></i>
                      </div>
                {% endfor %}
                  </div>
              </div>
            </div>

            <div class="post-comment-add">
                <div class="block-title">
                  <h3>{% trans 'Leave a Comment' %}</h3>
                </div>
                <form class="form-add-comment" action="{% url 'comment_create' blog.id %}"  method="POST">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button class="button" type="submit">{% trans 'Add comment' %}</button></a>
                </form>
            </div>

          </div>

        </div>
    </div>
</div>

</body>
{% endblock %}