{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans 'aboutme' %}{% endblock title %}
{% block content %}

<body>
 
  <!-- Home Subpage -->
  <section class="pt-page pt-page-1 section-with-bg section-paddings-0" style="background-image: url({% static 'images/DALL·E 2025-01-27 16.59.47 - A minimalist workspace featuring a laptop on a clean desk. The background is simple and uncluttered, with soft natural light coming from a window. The.webp' %});" data-id="home">
    <div class="home-page-block-bg">
      <div class="mask"></div>
    </div>
    <div class="home-page-block">
      <div class="v-align">
        <h2>{% trans 'Shadi Ghanaati' %}</h2>
        <div id="rotate" class="text-rotate">
          <div>
            <p class="home-page-description">{% trans 'Django' %}</p>
          </div>
          <div>
            <p class="home-page-description">{% trans 'backend-developer' %}</p>
          </div>
        </div>

        <div class="block end" style="text-align: center">
          <ul class="info-list">
            <li><span class="title">{% trans 'Age' %}</span><span class="value">31</span></li>
            <li><span class="title">{% trans 'Address' %}</span><span class="value">{% trans 'home.Address' %}</span></li>
            <li><span class="title">{% trans 'e-mail' %}</span><span class="value"><a href="mailto:email@example.com">{% trans 'home.email' %}</a></span></li>
            <li><span class="title">{% trans 'Phone' %}</span><span class="value">{% trans 'home.phone' %}</span></li>
            <li><span class="title">{% trans 'Freelance' %}</span><span class="value available">{% trans 'home.Available' %}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Home Subpage -->

</body>
{% endblock %}