{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans 'portfolio' %}{% endblock title %}
{% block content %}
{% include 'header.html' %} 
<body>
 
    <!-- Portfolio Subpage -->
      <section class="pt-page-4" data-id="portfolio" dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}" 
      align="{% if LANGUAGE_CODE == 'fa' %}right{% else %}left{% endif %}">
        <div class="section-title-block">
          <h2 class="section-title">{% trans 'Portfolio' %}</h2>
          <h5 class="section-description">{% trans 'My Best Works' %}</h5>
        </div>

        <!-- Portfolio Content -->
        <div class="portfolio-content">
                      
          <form method="get" action="{% url 'portfolio_list' %}" >
            <ul id="portfolio_filters" class="portfolio-filters">
                <li><button type="submit" name="category" value="all" class="btn btn-sm btn-link {% if request.GET.category == 'all' %}active{% endif %}">{% trans 'All' %}</button></li>
                <li><button type="submit" name="category" value="personal" class="btn btn-sm btn-link {% if request.GET.category == 'personal' %}active{% endif %}">{% trans 'Personal' %}</button></li>
                <li><button type="submit" name="category" value="store" class="btn btn-sm btn-link {% if request.GET.category == 'django' %}active{% endif %}">{% trans 'django' %}</button></li>
                <li><button type="submit" name="category" value="python" class="btn btn-sm btn-link {% if request.GET.category == 'python' %}active{% endif %}">{% trans 'Python' %}</button></li>
            </ul>
        </form>
          <!-- End of Portfolio filter -->

   <!-- Portfolio Grid -->
<div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">
  {% for portfolio in portfolios %}
    <figure class="item" data-groups='["all", "media"]'>
      <div class="portfolio-item">
        <a target="_blank" href="{% url 'portfolio_detail' portfolio.id %}">
          <img src="{{ portfolio.image.url }}" style="width:100%; height:250px; object-fit:cover; border-radius:8px; box-shadow:0 2px 8px rgba(0,0,0,0.1); transition:transform 0.3s;" />
          <div class="portfolio-info">
            <h5 class="name">{{ portfolio.title }}</h5>
            <small>{{ portfolio.category }}</small>
          </div>
        </a>
      </div>
    </figure>
  {% endfor %}
</div>



      </section >
    <!-- /Portfolio Subpage -->

</body>

{% endblock %}
