{% extends "_base.html" %}
{% load static %}

{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_tags %}

{% block title %}{% trans 'portfolio detail' %}{% endblock title %}
{% block content %}
{% include 'header.html' %} 

<body>
   
    <div id="portfolio-page" class="portfolio-page-content" dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}" 
    align="{% if LANGUAGE_CODE == 'fa' %}right{% else %}left{% endif %}">
        <div class="container">
            <div class="portfolio-nav">
                <div id="portfolio-close-button" class="portfolio-close-button">
                    <a href=""><i class="fa fa-close"></i></a>
                </div>
            </div>
    
            <div class="portfolio-title">
                <h1>{% trans 'Portfolio Project' %}</h1>
            </div>
            <div class="row">
                <div class="col-sm-7 col-md-7 portfolio-block">
                    <div class="owl-carousel portfolio-page-carousel">
                        <div class="item">
                            <img src="{{ portfolio.image.url }}" alt="">
                        </div>
                    </div>
                    
                    <div class="portfolio-page-video embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" controls>
                          <source src="{{ portfolio.video_file.url }}" type="video/mp4">
                        </video>
                    </div>
    
                    <script type="text/javascript">
                        jQuery(document).ready(function($){
                            $('.portfolio-page-carousel').owlCarousel({
                                smartSpeed:1200,
                                items: 1,
                                loop: true,
                                dots: true,
                                nav: true,
                                navText: false,
                                margin: 10
                            });
                        }); 
                    </script>
                </div>
    
                <div class="col-sm-5 col-md-5 portfolio-block">
                    <!-- Project Description -->
                    <div class="block-title">
                        <h3>{% trans 'Description' %}</h3>
                    </div>
                  
                    <ul class="project-general-info">
                        <li><p><i class="fa fa-user"></i>  
                            {% if LANGUAGE_CODE == "fa" %}
                              {{ portfolio.title_fa }}
                            {% else %}
                              {{ portfolio.title_en }}
                            {% endif %}</p>
                        </li>
                        <li><p><i class="fa fa-globe"></i> <a href="#" target="_blank">{{ portfolio.slug }}</a></p></li>
                        <li><p><i class="fa fa-calendar"></i> {{ portfolio.datetime_created|to_jalali:'%y/%m/%d _ %H:%M:%S'|translate_number }}</p></li>
                    </ul>
    
                    <p class="text-justify">  
                        {% if LANGUAGE_CODE == "fa" %}
                           {{ portfolio.description_fa }}
                        {% else %}
                           {{ portfolio.description_en }}
                        {% endif %}</p>
                    <!-- /Project Description -->
    
                    <!-- Technology -->
                    <div class="tags-block">
                        <div class="block-title">
                            <h3>
                            {% if LANGUAGE_CODE == "fa" %}
                                {{ portfolio.technology_fa }}
                            {% else %}
                                {{ portfolio.technology_en }}
                            {% endif %}
                            </h3>
                        </div>
                    </div>
                    <!-- /Technology -->
           
                    <!-- Share Buttons -->
                    <div class="btn-group share-buttons">
                        <div class="block-title">
                            <h3>{% trans 'Share' %}</h3>
                        </div>
                        <a href="{{ portfolio.github_link_django }}" target="_blank" class="btn"><i class="fab fa-github"></i> </a>
                        <a class="tip social-button" href="https://www.linkedin.com/in/shadi-ghanaati-b2880229a/" title="linkedin"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <!-- /Share Buttons -->
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}